<!-- updates blog -->
<div id="blog">

    <div class="max-w-7xl mx-auto px-6 md:px-12 xl:px-6">
        <div class="mb-12 space-y-2 text-center">

            <h2 class="text-3xl font-bold text-gray-800 md:text-4xl dark:text-white">
                Latest Updates
            </h2>
            <p class="lg:mx-auto lg:w-6/12 text-gray-600 dark:text-gray-300">
                Discover our latest projects and articles! Dive into our ongoing
                exploration of the open-source space research frontier. Stay tuned as we
                continue to push the boundaries of innovation.
            </p>
        </div>
        <div class="grid gap-8 md:grid-cols-2 lg:grid-cols-3">
            <div
                class="group p-6 sm:p-8 rounded-3xl bg-white border border-gray-100 dark:shadow-none dark:border-gray-700 dark:bg-gray-800 bg-opacity-50 shadow-2xl shadow-gray-600/10">
                <div class="relative overflow-hidden rounded-xl">
                    <img src="/images/rover.jpg" alt="art cover" loading="lazy" width="1000" height="667"
                        class="h-64 w-full object-cover object-top transition duration-500 group-hover:scale-105">
                </div>
                <div class="mt-6 relative">
                    <h3 class="text-2xl font-semibold text-gray-800 dark:text-white">
                        LibreCube Rover On the Roads!
                    </h3>
                    <p class="mt-6 mb-8 text-gray-600 dark:text-gray-300">
                        The LibreCube Rover is now on the roads! It's been a long journey
                        but we're finally here testing our 2U rover in the wild.
                    </p>
                    <a class="inline-block" href="#">
                        <span class="text-info dark:text-blue-300">Read more</span>
                    </a>
                </div>
            </div>
            <div
                class="group p-6 sm:p-8 rounded-3xl bg-white border border-gray-100 dark:shadow-none dark:border-gray-700 dark:bg-gray-800 bg-opacity-50 shadow-2xl shadow-gray-600/10">
                <div class="relative overflow-hidden rounded-xl">
                    <img src="/images/U1.png" alt="art cover" loading="lazy" width="1000" height="667"
                        class="h-64 w-full object-cover object-top transition duration-500 group-hover:scale-105">
                </div>
                <div class="mt-6 relative">
                    <h3 class="text-2xl font-semibold text-gray-800 dark:text-white">
                        1U & 2U Board Assembly Relesed!
                    </h3>
                    <p class="mt-6 mb-8 text-gray-600 dark:text-gray-300">
                        The 1U and 2U board assembly has been released! Check out the
                        details and get started with your own board.
                    </p>
                    <a class="inline-block" target="_blank" href="https://gitlab.com/librecube/elements/LC2102">
                        <span class="text-info dark:text-blue-300">Learn More</span>
                    </a>
                </div>
            </div>
            <div
                class="group p-6 sm:p-8 rounded-3xl bg-white border border-gray-100 dark:shadow-none dark:border-gray-700 dark:bg-gray-800 bg-opacity-50 shadow-2xl shadow-gray-600/10">
                <div class="relative overflow-hidden rounded-xl">
                    <img src="/images/gsoc.png" alt="art cover" loading="lazy" width="1000" height="667"
                        class="h-64 w-full object-cover object-top transition duration-500 group-hover:scale-105">
                </div>
                <div class="mt-6 relative">
                    <h3 class="text-2xl font-semibold text-gray-800 dark:text-white">
                        LibreCube Is selected for GSoC 2024!
                    </h3>
                    <p class="mt-6 mb-8 text-gray-600 dark:text-gray-300">
                        LibreCube has been selected for Google Summer of Code 2024! We're
                        excited to be part of this amazing program.
                    </p>
                    <a class="inline-block"
                        href="https://summerofcode.withgoogle.com/programs/2024/organizations/librecube-initiative">
                        <span class="text-info dark:text-blue-300">Learn more</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>