<!DOCTYPE html>
<html lang="en" id="theme_toggle" class="dark astro-25GZKQZX">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <link rel="icon" type="image/svg+xml" href="../assets/images/cube.svg">
        <meta name="generator" content="Astro v1.6.14">
        <meta name="description" content="LibreCube - OPEN SOURCE SPACE EXPLORATION">
        <title>LibreCube - OPEN SOURCE SPACE EXPLORATION</title>
        <link href="https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500;600;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="css/tailwind-build.css"/>
        <script type="module" src="js/theme.js"></script>
        <script type="module" src="js/blob.js"></script>
        <link rel="stylesheet" type="text/css" href="css/styles.css"/>
    </head>
    <body class="bg-white dark:bg-gray-900 astro-25GZKQZX">
        {% include 'components/navbar.html' %}
        <div id="blob"></div>
        <div id="blob-blur"></div>
        <button id="theme-toggle" class="theme-toggle astro-25GZKQZX">
            <img src="/images/icons/sun-icons8.svg" alt="Sun icon" class="astro-25GZKQZX">
        </button>
        {% block content %}
            <!-- Content of individual pages will go here -->
        {% endblock %}
        {% include 'components/footer.html' %}
    </body>
</html>